<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.jrq.dao.UserInfoMapper">
    
    <!-- 查询牛人信息 -->
    <select id="queryUserInfo" parameterType="java.util.Map" resultType="com.ch.jrq.domain.User">
        select 
			a.id as id,
			a.user_name as username,
			a.phone_number as phoneNumber,
			a.status as status
			 from jrq_user_info a
		where 1=1
        <if test="username != null and username != '' ">
		    and a.user_name = #{username}
		</if>
		<if test="password != null and password != '' ">
		    and a.password = #{password}
		</if>
		<if test="phoneNumber != null and phoneNumber != '' ">
		    and a.phone_number = #{phoneNumber}
		</if>
		<if test="status != null and status != '' ">
		    and a.status = #{status}
		</if>
    </select>

</mapper>