<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.dao.TraderManagerMapper">
    
    <!-- 查询牛人信息 -->
    <select id="queryTraderManagerList" parameterType="java.util.Map" resultType="com.ch.domain.TradeData">
        SELECT 
			uid as traderId,
			trader_name as traderName,
			trader_status as traderStatus
        from TRADER_DATA
        where 1=1
        <if test="traderStatus != null and traderStatus != '' ">
		    and trader_status= #{traderStatus}
		</if>
        order by trader_status Desc,CAST(uid AS SIGNED) Desc
    </select>
    
    <!-- 添加牛人信息 -->
    <insert id="addTrader" parameterType="java.util.Map">
        insert TRADER_DATA 
        (uid,trader_name,trader_status)
        values(#{traderId},#{traderName},1)
    </insert>

    <!-- 变更牛人状态 -->
    <update id="updateTraderStatus" parameterType="java.util.Map">
        update TRADER_DATA set trader_status = #{traderStatus} where uid = #{traderId}
    </update>
</mapper>