<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.ch.dao.TradeDataMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    
    <!-- 查询交易数据 -->
    <select id="queryTradeDataList" parameterType="java.util.Map" resultType="com.ch.domain.TradeData">
        SELECT 
			a.trader_id as traderId,
			b.trader_name as traderName,
			a.symbol as symbol,
			a.order_status orderStatus,
			a.order_status2 orderStatus2,
			a.open_price as openPrice,
			a.close_price as closePrice,
			a.tp as tp,
			a.sl as sl,
			a.profit as profit,
			FROM_UNIXTIME(a.open_time) as openTime,
			FROM_UNIXTIME(a.close_time) as closeTime
			FROM  ORDER_DATA a
			LEFT JOIN
			TRADER_DATA b
			on a.trader_id = b.uid
            <where>
            <include refid="whereConditionsForOrder"></include>
            </where>
			ORDER BY  state ASC,open_time DESC
    </select>
    
    <sql id="whereConditionsForOrder"> 
        <if test="startTime != null and startTime != '' ">
			and FROM_UNIXTIME(a.open_time) &gt;= str_to_date(#{startTime},'%Y-%m-%d %T')
		</if>
		<if test="endTime != null and endTime != '' ">
		    and FROM_UNIXTIME(a.open_time)  &lt;= str_to_date(#{endTime},'%Y-%m-%d %T')
		</if>
		<if test="traderId != null and traderId != '' ">
		    and a.trader_id= #{traderId}
		</if>
		<if test="symbol != null and symbol != '' ">
		    and a.symbol= #{symbol}
		</if>
    </sql> 
    
    <!-- 查询牛人信息 -->
    <select id="queryTraderList" parameterType="java.util.Map" resultType="com.ch.domain.TradeData">
        SELECT 
			uid as traderId,
			trader_name as traderName
        from TRADER_DATA
        where trader_status = 1
        order by uid Desc
    </select>
    
    <!-- 查询货币对信息 -->
    <select id="querySymbolList" parameterType="java.util.Map" resultType="com.ch.domain.TradeData">
	    SELECT 
		DISTINCT			
		symbol,
		sym_name as symName
		from ORDER_DATA
		GROUP BY symbol,symName
    </select>
</mapper>